@import 'tailwindcss';

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

#musica {
  display: flex;
  margin: 5px;
}

#nomes{
  display: block;
  margin: 10px;
}
#nomes p{
  color: gray;
}


